<%- include('partials/header') %>


<div class="jumbotron text-center centered">
  <div class="container">
    <h1 class="logo"><i class="fas fa-pen-fancy"></i> Open Up</h1>
    <p class="lead">Dive into the Depths: Share Your Hidden Stories, Emotions, and Confidences.</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>


<%- include('partials/footer') %>
