<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <i class="fas fa-key fa-6x"></i>
    <h1 class="display-3">Welcome</h1>
    <p class="secret-text">Submit your Secretes</p>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/compose" role="button">Submit a Secret</a>

    <%  for(var i=posts.length-1;i>0;--i) {  %>
      <h1> <%= posts[i].title %></h1>
      <p> <%= posts[i].body %></p>
   <% }; %> 

  </div>
</div>

<%- include('partials/footer') %>
